NEXT_PUBLIC_SUPABASE_URL=https://tgrgoeckpevwhzwnkmel.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRncmdvZWNrcGV2d2h6d25rbWVsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ4Nzg2OTIsImV4cCI6MjA5MDQ1NDY5Mn0.sS3I48zooRcTj_kszHu8BkPRkagXxqovhqO7n2H1A8Y
